@import "src/sass/Variables.scss";

.btn {
    align-items: center;
    background: linear-gradient(180deg, var(--color-neutral-0) 0%, var(--color-neutral-1) 100%);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-neutral-4);
    box-shadow: 0px 1px 2px rgba(34, 38, 42, 0.08);
    color: var(--color-neutral-10); 
    cursor: pointer;
    display: inline-flex;
    font-weight: 600;
    height: 32px;
    justify-content: center;
    min-width: 70px;
    padding: 0 var(--space-base);
    transition: all var(--time-m) var(--linear);
}

.dark-theme .btn {
    background: linear-gradient(180deg, #2C2F32 0%, #22262A 100%);
    border: 1px solid #626568;  
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    color: var(--color-neutral-2);  
}

.btn:hover {
    background: linear-gradient(180deg, #F6F6F6 0%, #EEEFF1 100%);  
}

.dark-theme .btn:hover {
    background: linear-gradient(180deg, #34373A 0%, #2C2F33 100%);  
}

.btn:active {
    background: linear-gradient(180deg, #ECEDED 0%, #E5E6E8 100%);
    box-shadow: none;
}

.dark-theme .btn:active {
    background: linear-gradient(180deg, #3C3F42 0%, #35383C 100%);  
}

.btn[disabled] {
    border: 1px solid var(--color-neutral-3);
    box-shadow: none;
    color: var(--color-neutral-5);  
    pointer-events: none;
}

.dark-theme .btn[disabled] {
    background: linear-gradient(180deg, #2C2F32 0%, #22262A 100%);
    border: 1px solid var(--color-neutral-8);  
    color: var(--color-neutral-7);  
}

.btn-primary:not(.dark-theme) {
    background: linear-gradient(180deg, var(--color-brand) 0%, #BC1F00 100%);
    border: 1px solid var(--color-brand-dark);
    color: var(--color-neutral-0);
}

.btn-primary:not(.dark-theme):hover {
    border: 1px solid #991406;    
    background: linear-gradient(180deg, #B62307 0%, #AA2007 100%);
}

.btn-primary:not(.dark-theme):active {
    background: linear-gradient(180deg, #A9230A 0%, #9E210A 100%);
    border: 1px solid #8E1509;  
}

.btn-primary:not(.dark-theme)[disabled] {
    background: linear-gradient(180deg, #E59080 0%, #DE8F80 100%);
    border: 1px solid #D48880;
    color: var(--color-neutral-0);
}

.btn-small {
    height: 24px;
    min-width: auto;
    padding: 0 8px;
}

.btn-large {
    height: 40px;
    padding: 0 24px;
}

.btn-icon {
    height: 24px;
    min-width: auto;
    padding: 0;
    width: 24px;
}

.btn [class^="osicon-"] {
    margin-right: var(--space-xs);
}

.btn-icon [class^="osicon-"] {
    margin-right: 0;
}

a.btn {
   display: inline-flex;
}

.ponyfill-ready .btn {
   display: inline-block;
}

.link {
    color: var(--color-selection-5);
    cursor: pointer;
}

.dark-theme .link {
    color: var(--color-selection-2);  
}

.link:hover {
    color: var(--color-selection-6);
}

.dark-theme .link:hover {
    color: var(--color-selection-1);
}

.link[disabled] {
    color: var(--color-neutral-5);
    cursor: default;
}

.dark-theme .link[disabled] {
    color: var(--color-neutral-7);
}